code {
  font-family: "Menlo";
  font-size: 90%;
  word-spacing: -0.3rem;
  margin: 0 0.1rem;
  color: deeppink;
}

ol li {
  font-family: Raleway, sans-serif;
}

a.anchor {
  fill: "red";
  vertical-align: text-bottom;
}