.Subscribe {
  margin: auto;
  background-color: #e5e8eb;
  width: 100%;
  border-radius: 5px;
  padding: 0.5em 0em 0.05em 0em;
}

.sub_response {
  text-align: center;
  margin: 0.5em;
  font-size: 1.25em;
  font-weight: 700;
}

.positive {
  color: #28b463;
}

.negative {
  color: #cb4335;
}

.sub_header {
  font-family: Merriweather, serif;
  text-align: center;
  margin: 0.5em;
  font-size: 1.25em;
  font-weight: 400;
}

.sub_form {
  display: flex;
  justify-content: center;
}

.sub_input {
  font-family: Raleway, sans-serif;
  min-width: 60%;
  border: 1px solid var(--contrast-color);
  border-radius: 3px;
  padding: 0.5em;
}
