.Subscribe {
  margin: auto;
  background-color: #e5e8eb;
  width: 100%;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.sub_response {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.positive {
  color: #28b463;
}

.negative {
  color: #cb4335;
}

.sub_header {
  font-family: Merriweather, serif;
  text-align: center;
  margin: 0.75rem 0;
  font-size: 1.05rem;
  font-weight: 400;
}

.sub_form {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.sub_input {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  min-width: 70%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}
